testcerts/src/main/mule/test7.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="SubFlow" doc:id="01b4fa08-c7f4-4bc6-9006-8c4a87edfbb2" >
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="e66a0630-5c7a-4cee-abdf-9855489108bc" variableName="input"/>
		<logger level="INFO" doc:name="Logger" doc:id="29b091e1-56de-4a79-a351-5bc90ba3adc3" message='#[vars."input" ++ "- inside payload"]'/>
	</flow>
	<flow name="test7Flow" doc:id="143582af-8576-4cac-8031-a943c95689ee" >
		<http:listener doc:name="Listener" doc:id="56481b8f-98b1-4f80-ae33-c4e95d5e1c9a" config-ref="HTTP_Listener_config" path="/test7"/>
		<ee:transform doc:name="Transform Message" doc:id="22097860-f6e5-49c2-90d0-54abf72ef874" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
lookup("SubFlow",payload as String)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a67fb3f3-b78b-4ff7-b383-65bce2352da1" message="#[payload]"/>
	</flow>
</mule>
